body {
  /*All the child families will be inhereited from this body */
  background-color: rgb(255, 255, 211);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  /*first get the name of the classes, ids should be unique, 
    but classes do not have be that*/
  color: brown;
}

#your-name {
  /*Get the id*/
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
}
